@charset "utf-8";
@import url(main.css);

@import url(http://api.mobilis.co.kr/webfonts/css/?fontface=NanumGothicWeb); 
@font-face { font-family:'NanumGothicWeb'; font-style:normal; src: url('http://webfonts-cdn.mobilis.co.kr/webfonts/Nanum/NanumGothicCompact.eot');}
@font-face { font-family:'NanumGothicWeb'; font-style:normal; src: url('http://webfonts-cdn.mobilis.co.kr/webfonts/Nanum/NanumGothicCompact.woff') format('woff');}
@font-face { font-family:'NanumGothicWeb'; font-style:normal; src: url('http://api.mobilis.co.kr/webfonts/Nanum/NanumGothicCompact.ttf') format('truetype');}

 /* Basic Style */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
address, big, cite, code, del, dfn, em, font, img, ins,
q, s, samp, small, strike, strong, sub, sup, tt, var, b,
u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
{ margin: 0; padding: 0; border: none 0; }
body { width:100%; height:100%;  background: #444C4E;}
body, input, button, textarea { font-size:12px; line-height:1.5em; font-family: 'NanumGothic', '나눔고딕','NanumGothicWeb', '맑은 고딕', 'Malgun Gothic', Dotum, Arial, Helvetica, AppleGothic, Sans-serif; color:#444; }
h1, h2, h3, h4, h5, h6 { font-size:24px; text-align:left; line-height:24px; font-family:Arial;}
img, fieldset, iframe { border:0 none; }
table, div { border-collapse: collapse;}
select, textarea { border: 1px solid #B7B6B6; background: #FFFFFF; color: #000000; font-size: 12px; vertical-align: middle; }
textarea { overflow:auto; }
select, input, img, li { vertical-align: middle; text-align:left; }
address, caption, cite, code, dfn, em, th, var { font-style : normal; font-weight : normal; }
ul, li, ol { list-style-type: none;}
legend,  caption { display: none; }
hr { border-collapse:collapse; display:none; }
strong {font-size:1.2em;}
a:link, a:visited { text-decoration:none; color: #636363; }
a:hover { text-decoration:underline; cursor:pointer; }